<template>
  <section class="uk-section uk-section-muted">
    <div class="uk-container">
      <article class="uk-article">
        <h1 class="uk-article-title">{{page.title}}</h1>
        <div v-html="page.content"></div>
      </article>
    </div>
  </section>
</template>

<script>
    export default {
      head() {
        return {
          title: this.page.metatitle || this.page.title,
          keywords: this.page.metakeywords
        }
      },
      async asyncData({ store, params, error }) {
        try {
          const page = await store.dispatch('pages/getOne', params )

          return { page }
        } catch (e) {
          error({ statusCode: 404, message: 'Page Not Found' })
        }
      }
    }
</script>
