<template>
  <div v-if="product">
    <section class="uk-section uk-section-muted" v-if="product.constructor === 'template'">
      <div class="uk-container uk-container-expand">
        <div class="uk-grid" uk-grid>
          <div class="uk-width-expand@m uk-flex uk-flex-center">
            <div class="uk-overflow-auto">
              <canvas width="600" height="600" id="constructor"></canvas>
            </div>
          </div>
          <div class="uk-width-expand@m">
            <div class="uk-h2 uk-margin-remove-bottom">
              <input class="uk-input uk-form-blank uk-form-width-large" v-model="product.title">
            </div>
            <nuxt-link class="uk-margin-small-left" :to="{ name: 'constructor' }">{{$t('constructor.selectAnother')}}</nuxt-link>
            <div class="uk-flex">
              <div>

              </div>
              <div class="uk-h3">
                <input class="uk-input uk-text-primary uk-form-blank" :style="{ width: `${product.product_price.toString().length * 30}px`}" type="number" v-model="product.product_price">
                <span class="uk-text-primary">₽</span>
              </div>
            </div>


            <div class="uk-grid uk-grid-collapse uk-child-width-auto@m" uk-grid>
              <div>
                <button class="uk-button uk-button-default uk-width-1-1 uk-button-small" @click="addText">{{$t('constructor.addText')}}</button>
              </div>
              <div>
                <div class="js-upload uk-form-custom uk-width-1-1" uk-form-custom>
                  <input type="file" @change="addImage({e: $event})" accept="image/jpeg,image/png">
                  <button class="uk-button uk-button-default uk-width-1-1 uk-button-small" type="button" tabindex="-1">{{$t('constructor.addImage')}}</button>
                </div>
              </div>
              <div class="uk-width-small@m">
                <a href="#" class="uk-button uk-button-default uk-width-1-1 uk-button-small" @click="download">{{$t('constructor.download')}}</a>
              </div>
              <div>
                <button class="uk-button uk-button-default uk-width-1-1 uk-button-small" @click="upload({redirect: true})">{{$t('constructor.upload')}}</button>
              </div>
              <div>
                <button class="uk-button uk-button-default uk-width-1-1 uk-button-small" @click="upload">{{$t('constructor.save')}}</button>
              </div>
              <div>
                <button class="uk-button uk-button-default uk-width-1-1 uk-button-small" @click="clear">{{$t('constructor.clear')}}</button>
              </div>
            </div>

            <ul class="uk-accordion" uk-accordion>
              <li class="uk-open">
                <a class="uk-accordion-title" href="#">{{$t('constructor.background')}}</a>
                <div class="uk-accordion-content">
                  <div class="uk-from-stacked">
                    <div class="uk-margin">
                      <label class="uk-form-label">{{$t('constructor.backgroundColor')}}</label>
                      <div class="uk-form-controls">

                        <div class="uk-grid uk-width-child-1-3 uk-width-child-1-6@m app-constructor-colors" uk-grid>
                          <div v-for="color in colors" :key="color" @click="changeBackgroundColor({value: color})">
                            <div :style="{ backgroundColor: color }"></div>
                          </div>
                          <div>
                            <input class="uk-input" type="color" @input="changeBackgroundColor({value: $event.target.value})">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li v-for="(object, index) in objectsList" :key="index" @click="setActiveObject({object})">
                <a class="uk-accordion-title" href="#">{{$t('constructor.layer')}} {{index}}</a>
                <div class="uk-accordion-content">
                  <div class="uk-form-stacked">
                    <div class="uk-margin">
                      <ul class="uk-iconnav">
                        <li @click="removeObject"><a href="#" uk-icon="icon: trash"></a></li>
                        <li @click="bringForward"><a href="#" uk-icon="icon: push"></a></li>
                        <li @click="sendBackwards"><a href="#" uk-icon="icon: pull"></a></li>
                      </ul>
                    </div>

                    <div class="uk-margin" v-if="object.type === 'image'">
                      <div class="uk-form-controls">
                        <img :src="object.getSrc()" width="100">
                      </div>
                    </div>

                    <div class="uk-margin">
                      <label class="uk-form-label">{{$t('constructor.opacity')}}</label>
                      <div class="uk-form-controls">
                        <input class="uk-range" type="range" min="0" max="1" step="0.01" :value="object.opacity" @input="changePropertyObject({key: 'opacity', value: $event.target.value})">
                      </div>
                    </div>

                    <div class="uk-margin">
                      <label class="uk-form-label">{{$t('constructor.backgroundColor')}}</label>
                      <div class="uk-form-controls">
                        <input class="uk-input" type="color" :value="object.backgroundColor" @input="changePropertyObject({key: 'backgroundColor', value: $event.target.value})">
                      </div>
                    </div>

                    <div class="uk-margin" v-if="object.type === 'textbox'">
                      <label class="uk-form-label">{{$t('constructor.text.label')}}</label>
                      <div class="uk-form-controls">
                        <input class="uk-input" type="text" :placeholder="$t('constructor.text.placeholder')" :value="object.text" @input="changePropertyObject({key: 'text', value: $event.target.value})">
                      </div>
                    </div>

                    <div class="uk-margin" v-if="object.type === 'textbox'">
                      <label class="uk-form-label">{{$t('constructor.fontFamily')}}</label>
                      <div class="uk-form-controls">
                        <select class="uk-select" @change="changePropertyObject({ key: 'fontFamily', value: $event.target.value})" :value="object.fontFamily">
                          <option v-for="font in fonts" :key="font" :value="font">{{font}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="uk-margin" v-if="object.type === 'textbox'">
                      <label class="uk-form-label">{{$t('constructor.fontSize')}}</label>
                      <div class="uk-form-controls">
                        <input class="uk-range" type="range" min="1" max="100" :value="object.fontSize" @input="changePropertyObject({key: 'fontSize', value: $event.target.value})">
                      </div>
                    </div>

                    <div class="uk-margin" v-if="object.type === 'textbox'">
                      <label class="uk-form-label">{{$t('constructor.color')}}</label>
                      <div class="uk-form-controls">
                        <input class="uk-input" type="color" :value="object.fill" @input="changePropertyObject({key: 'fill', value: $event.target.value})">
                      </div>
                    </div>

                    <div class="uk-margin" v-if="object.type === 'textbox'">
                      <div class="uk-form-controls">
                        <button class="uk-button uk-button-default" :class="{'uk-active1': object.fontWeight === 'bold'}" @click="changePropertyObject({key: 'fontWeight', value: object.fontWeight === 'normal' ? 'bold':'normal'})"><span uk-icon="bold"></span></button>
                        <button class="uk-button uk-button-default" :class="{'uk-active1': object.fontStyle === 'italic'}" @click="changePropertyObject({key: 'fontStyle', value: object.fontStyle === 'normal' ? 'italic':'normal'})"><span uk-icon="italic"></span></button>
                      </div>
                    </div>

                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<style>
  .app-constructor-colors div {
    width: 60px;
    height: 40px;
    margin-right: 20px;
  }
</style>
<script>
  import {mapMutations, mapGetters, mapActions} from 'vuex'
  export default {
    head() {
      return {
        title: `${this.$t('constructor.title')} - ${this.product.title}`
      }
    },
    props: {
      slug: {
        required: true
      }
    },
    computed: {
      ...mapGetters({
        colors: 'constructor/colors',
        fonts: 'constructor/fonts',
        canvas: 'constructor/canvas',
        objectsList: 'constructor/getObjects',
        activeObject: 'constructor/getActiveObject'
      })
    },
    methods: {
      ...mapMutations({
        addText: 'constructor/ADD_TEXT',
        addImage: 'constructor/ADD_IMAGE',
        removeObject: 'constructor/REMOVE_OBJECT',
        bringForward: 'constructor/BRING_FORWARD',
        sendBackwards: 'constructor/SEND_BACKWARDS',
        changePropertyObject: 'constructor/CHANGE_PROPERTY_OBJECT',
        setActiveObject: 'constructor/SET_ACTIVE_OBJECT',
        changeBackgroundColor: 'constructor/CHANGE_BACKGROUND_COLOR',
      }),
      ...mapActions({
        clear: 'constructor/clear',
        download: 'constructor/download',
        upload: 'constructor/upload',
      })
    },
    async asyncData({store, params, app, redirect }) {
      let {data} = await app.$axios.get('v1/shop/products/' + params.slug)

      if(data.constructor === 'template') {
        store.dispatch('views/update', data)

        data.title = `${data.title} Custom`;
        console.log(data);

        return { product: data }
      } else {
        redirect('/')
      }
    },
    mounted() {
      this.$store.dispatch('constructor/init', {product: this.product})
      this.$store.commit('constructor/ADD_TEXT')
    }
  }
</script>
