<template>
  <div>
    <section class="uk-section uk-section-muted" v-if="count">
      <div class="uk-container">
        <h3>{{$t('constructor.index.title')}}</h3>
        <div class="uk-grid uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid>
          <template-card v-for="item in categories" :key="item.id" :item="item"/>
        </div>
        <div class="uk-margin">
          <ul class="uk-pagination">
            <li v-if="hasPrev">
              <nuxt-link :to="{ name: 'constructor-page', params: { page: prevPage }}"><span class="uk-margin-small-right" uk-pagination-previous></span> {{$t('previous')}}</nuxt-link>
            </li>
            <li v-if="hasNext" class="uk-margin-auto-left">
              <nuxt-link :to="{ name: 'constructor-page', params: { page: nextPage }}">{{$t('next')}} <span class="uk-margin-small-left" uk-pagination-next></span></nuxt-link>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <not-found v-else/>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import TemplateCard from '@/components/TemplateCard'
  import NotFound from '@/components/NotFound'

  export default {
    head() {
      return {
        title: this.$t('constructor.title')
      }
    },
    props: {
      page: {
        type: String | Number,
        default: 1,
      }
    },
    components: {
      TemplateCard, NotFound
    },
    computed: {
      ...mapGetters({
        hasNext: 'products/hasNext',
        hasPrev: 'products/hasPrev',
        nextPage: 'products/nextPage',
        prevPage: 'products/prevPage',
        categories: 'database/categories',
        count: 'products/count',
      }),
    },
    async fetch({ store, app, params, error }) {
      const { totalCount } = await store.dispatch('products/fetchAll', { constructorValue: 'template', page: params.page, limit: 50 })
    }
  }
</script>
