<template>
  <section class="uk-section uk-section-muted">
    <div class="uk-container">
      <article class="uk-article">
        <h1 class="uk-article-title">Заказ №{{order.id}}</h1>
        <dl class="uk-description-list">
          <dt>Статус</dt>
          <dd>{{$t(`statuses.${order.status}`)}}</dd>

          <template v-if="order.amount">
            <dt>Сумма</dt>
            <dd>{{order.amount | currency}}</dd>
          </template>

          <template v-if="order.from_email_hide">
            <dt>Email</dt>
            <dd>{{order.from_email_hide}}</dd>
          </template>

          <template v-if="order.from_phone_hide">
            <dt>Мобильный телефон</dt>
            <dd>{{order.from_phone_hide}}</dd>
          </template>
        </dl>
        <div v-if="order.status !== 'payed'">
          <button-pay :order-id="order.id" :amount="order.amount" button-text="Pay"></button-pay>
        </div>

      </article>
    </div>
  </section>
</template>

<script>
    import ButtonPay from '@/components/ButtonPay'

    export default {
      components: {
        ButtonPay
      },
      async asyncData({ store, params, error }) {
        try {
          const order = await store.dispatch('orders/getOne', params )

          return { order }
        } catch (e) {
          error({ statusCode: 404, message: 'Order Not Found' })
        }
      }
    }
</script>

<style scoped>

</style>
