<template>
    <div>
      <form method="post" action="https://payeer.com/merchant/">
        <input type="hidden" name="m_shop" :value="payeer.m_shop">
        <input type="hidden" name="m_orderid" :value="payeer.m_orderid">
        <input type="hidden" name="m_amount" :value="payeer.m_amount">
        <input type="hidden" name="m_curr" :value="payeer.m_curr">
        <input type="hidden" name="m_desc" :value="payeer.m_desc">
        <input type="hidden" name="m_sign" :value="sign">
        <input class="uk-button uk-button-primary" type="submit" name="m_process" :value="buttonText" />
      </form>
    </div>
</template>

<script>
    import { sha256 } from 'js-sha256'
    import { Base64 } from 'js-base64'

    export default {
      name: "ButtonPay",
      props: {
        orderId: {
          type: String | Number
        },
        amount: {
          type: String | Number
        },
        buttonText: {
          type: String
        }
      },
      data() {
        return {
          payeer : {
            m_shop: process.env.payeer.shop_id,
            m_orderid: this.orderId,
            m_amount: 0,
            m_curr: 'RUB',
            m_desc: '',
            m_key: process.env.payeer.key,
          }
        }
      },
      watch: {
        payeer: {
          immediate: true,
          handler(newVal, oldVal) {
            this.payeer.m_desc = Base64.encode(`Оплата товара №${this.orderId}`)
            this.payeer.m_amount = Number(this.amount).toFixed(2)
          },
        },
      },
      computed: {
        sign() {
          return sha256(Object.values(this.payeer).join(':')).toString().toUpperCase()
        }
      }
    }
</script>

<style scoped>

</style>
