<template>
  <div>
    <button v-if="inCart" class="uk-button uk-button-text uk-text-danger" @click="removeFromCart(product)" :title="$t('cart.button.remove')">
      <span uk-icon="cart"></span>
      <slot></slot>
    </button>
    <button v-else class="uk-button uk-button-text" @click="addCart(product)" :title="$t('cart.button.add')">
      <span uk-icon="cart"></span>
      <slot></slot>
    </button>
  </div>
</template>

<script>
    import {mapActions, mapMutations} from 'vuex'

    export default {
      props: {
        product: {
          required: true
        }
      },
      computed: {
        inCart() {
          return this.$store.getters['cart/findById'](this.product.id)
        }
      },
      methods: {
        ...mapActions({
          addCart: 'cart/add'
        }),
        ...mapMutations({
          removeFromCart: 'cart/REMOVE'
        })
      }
    }
</script>
