<template>
  <div>
    <nuxt-link :title="$t('constructor.button.customize')" v-if="product.constructor === 'template'" class="uk-button uk-button-text" :to="{ name: 'constructor-slug', params: { slug: product.slug } }">
      <span uk-icon="file-edit"></span>
      <slot></slot>
    </nuxt-link>
  </div>
</template>

<script>
    export default {
      props: {
        product: {
          required: true
        }
      },
    }
</script>
