<template>
  <div>
    <button type="button" class="uk-button uk-button-text app-like-button" :class="{'app-liked': isLiked}" @click="like(product)">
      <span class="app-like-icon">
        <span class="app-heart-animation-1"></span>
        <span class="app-heart-animation-2"></span>
      </span>
    </button>
  </div>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex'

  export default {
    props: {
      product: {
        required: true
      }
    },
    computed: {
      isLiked() {
        return this.$store.getters['favorites/findById'](this.product.id)
      }
    },
    methods: {
      ...mapActions({
        like: 'favorites/like',
      })
    }
  }
</script>

<style lang="scss">
  $pink: #ff6e6f;
  $bezier: cubic-bezier(.175, .885, .32, 1.275);

  .app-like-icon {
    filter: grayscale(100%);
    width: 18px;
    height: 16px;
    display: inline-block;
    position: relative;
    margin-right: .25em;
    background: url('data:image/svg+xml;utf8,<svg width="21" height="18" viewBox="0 0 21 18" xmlns="http://www.w3.org/2000/svg"><title>.app-heart-colored</title><path d="M10.101 4.417S8.895.207 5.111.207c-4.465 0-10.967 6.846 5.082 17.592C25.237 7.03 19.665.202 15.501.202c-4.162 0-5.4 4.215-5.4 4.215z" fill="#FF6E6F" fill-rule="evenodd"/></svg>') no-repeat center;
    background-size: 100%;
    animation: heartUnlike .25s $bezier both;
  }

  .app-liked .app-like-icon {
    filter: grayscale(0);
  }

  .app-like-button {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    transition: all .25s $bezier;
    user-select: none;

    &.app-liked {
      color: $pink;
    }
  }

  .app-liked .app-like-icon {
    animation: heartPulse .25s $bezier both;

    [class^="app-heart-animation-"] {
      background: url('data:image/svg+xml;utf8,<svg width="21" height="18" viewBox="0 0 21 18" xmlns="http://www.w3.org/2000/svg"><title>.app-heart-colored</title><path d="M10.101 4.417S8.895.207 5.111.207c-4.465 0-10.967 6.846 5.082 17.592C25.237 7.03 19.665.202 15.501.202c-4.162 0-5.4 4.215-5.4 4.215z" fill="#FF6E6F" fill-rule="evenodd"/></svg>') no-repeat center;
      background-size: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 14px;
      opacity: 0;

      &::before, &::after {
        content: '';
        background: inherit;
        background-size: 100%;
        width: inherit;
        height: inherit;
        display: inherit;
        position: relative;
        top: inherit;
        left: inherit;
        opacity: 0;
      }
    }

    .app-heart-animation-1 {
      animation: heartFloatMain-1 1s $bezier both;

      &::before, &::after {
        width: 12px;
        height: 10px;
        visibility: hidden;
      }
      &::before {
        opacity: .6;
        animation: heartFloatSub-1 1s .25s $bezier both;
      }
      &::after {
        animation: heartFloatSub-2 1s .15s $bezier both;
        opacity: .75;
      }
    }

    .app-heart-animation-2 {
      animation: heartFloatMain-2 1s .1s $bezier both;

      &::before, &::after {
        width: 10px;
        height: 8px;
        visibility: hidden;
      }
      &::before {
        animation: heartFloatSub-3 1s .25s $bezier both;
        opacity: .25;
      }
      &::after {
        animation: heartFloatSub-4 1s .15s $bezier both;
        opacity: .4;
      }
    }
  }


  // Animations
  @keyframes heartPulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }

  @keyframes heartUnlike {
    50% { transform: scale(.75) ; }
  }

  @keyframes heartFloatMain-1 {
    0% {
      opacity: 0;
      transform: translate(0) rotate(0);
    }
    50% {
      opacity: 1;
      transform: translate(0, -25px) rotate(-20deg);
    }
  }

  @keyframes heartFloatMain-2 {
    0% {
      opacity: 0;
      transform: translate(0) rotate(0) scale(0);
    }
    50% {
      opacity: .9;
      transform: translate(-10px, -38px) rotate(25deg) scale(1);
    }
  }

  @keyframes heartFloatSub-1 {
    0% {
      visibility: hidden;
      transform: translate(0) rotate(0);
    }
    50% {
      visibility: visible;
      transform: translate(13px, -13px) rotate(30deg);
    }
  }

  @keyframes heartFloatSub-2 {
    0% {
      visibility: hidden;
      transform: translate(0) rotate(0);
    }
    50% {
      visibility: visible;
      transform: translate(18px, -10px) rotate(55deg);
    }
  }

  @keyframes heartFloatSub-3 {
    0% {
      visibility: hidden;
      transform: translate(0) rotate(0);
    }
    50% {
      visibility: visible;
      transform: translate(-10px, -10px) rotate(-40deg);
    }
    100% {
      transform: translate(-50px, 0);
    }
  }

  @keyframes heartFloatSub-4 {
    0% {
      visibility: hidden;
      transform: translate(0) rotate(0);
    }
    50% {
      visibility: visible;
      transform: translate(2px, -18px) rotate(-25deg);
    }
  }
</style>
