<template>
  <div>
    <ul class="uk-subnav uk-subnav-pill" uk-margin>
      <li v-for="item in categories" :key="item.id">
        <a v-if="item.subcategories" href="#" @click.prevent="">{{item.title}}</a>
        <div v-if="item.subcategories" uk-dropdown="mode: hover">
          <ul class="uk-nav uk-dropdown-nav">
            <nuxt-link v-for="subcategory in item.subcategories" :key="subcategory.id" tag="li" :to="{ name: 'catalog', params: {category: subcategory.slug}}"><a>{{subcategory.title}}</a></nuxt-link>
          </ul>
        </div>
        <nuxt-link v-else :to="{ name: 'catalog', params: {category: item.slug}}">{{item.title}}</nuxt-link>
      </li>
      <nuxt-link class="app-subnav-item-primary" tag="li" :to="{ name: 'constructor'}"><a>{{$t('constructor.title')}}</a></nuxt-link>
    </ul>
  </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
      computed: {
        ...mapGetters({
          categories: 'database/categories',
        })
      }
    }
</script>
