<template>
  <no-ssr>
    <nav class="uk-navbar-container uk-container uk-navbar" uk-navbar>

      <div class="uk-navbar-left" v-if="showLeft">
        <nuxt-link :to="{ name: 'index' }" class="uk-logo">{{$t('brand.name')}}</nuxt-link>
      </div>

      <div class="uk-navbar-center uk-visible@m">
        <div>
          <ul class="uk-navbar-nav">
            <nuxt-link tag="li" :to="{ name: 'index' }"><a>{{$t('navbar.home')}}</a></nuxt-link>
            <nuxt-link tag="li" :to="{ name: 'products' }"><a>{{$t('navbar.products')}}</a></nuxt-link>
            <nuxt-link tag="li" :to="{ name: 'pages-page', params: { slug: 'about' } }"><a>{{$t('navbar.about')}}</a></nuxt-link>
            <nuxt-link tag="li" :to="{ name: 'contact' }"><a>{{$t('navbar.contacts')}}</a></nuxt-link>
          </ul>
        </div>
      </div>

      <div class="uk-navbar-right" v-if="showRight">
        <div>
          <a class="uk-navbar-toggle" uk-search-icon href="#"></a>
          <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
            <search-form/>
          </div>
        </div>
        <shopping-cart class="uk-navbar-item"/>
      </div>

    </nav>
  </no-ssr>
</template>

<style lang="scss">
  @import "../styles/variables";
</style>

<script>
  import ShoppingCart from '@/components/ShoppingCart'
  import SearchForm from '@/components/SearchForm'

  export default {
      components: {
        ShoppingCart, SearchForm
      },
      props: {
        showLeft: {
          type: Boolean,
          default: true
        },
        showRight: {
          type: Boolean,
          default: true
        }
      }
    }
</script>
