<template>
    <section class="uk-section" uk-height-viewport="expand: true">
      <div class="uk-container">
        <h1 v-html="$t('products.messages.notFound')"></h1>
      </div>
    </section>
</template>

<script>
    export default {
    }
</script>
