<template>
  <div v-if="product">
    <div class="uk-card uk-card-default uk-card-hover">
      <div class="uk-flex uk-flex-center">
        <nuxt-link :to="{ 'name': 'products-slug', params: { slug: product.slug }}">
          <img :src="product.image" :alt="product.title" height="250" width="250">
        </nuxt-link>
      </div>
      <div class="uk-card-body">
        <nuxt-link class="uk-card-title" :to="{ 'name': 'products-slug', params: { slug: product.slug }}">{{product.title}}</nuxt-link>
        <div v-if="product.category">{{product.category.title}}</div>
        <div class="app-card-price">{{product.product_price | currency}}</div>
      </div>
      <div class="uk-card-footer app-card-footer">
        <button-add-to-card class="uk-width-1-3" :product="product"/>
        <button-customize class="uk-width-1-3" :product="product"/>
        <button-like class="uk-width-1-3" :product="product"/>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  @import '../styles/variables';

  .uk-card-title {
    height: 40px;
    display: block;
  }

  .app-card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    > * {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
</style>

<script>
    import ButtonAddToCard from '@/components/ButtonAddToCard'
    import ButtonLike from '@/components/ButtonLike'
    import ButtonCustomize from '@/components/ButtonCustomize'

    export default {
      props: {
        product: {
          required: true
        }
      },
      components: {
        ButtonAddToCard, ButtonLike, ButtonCustomize
      }
    }
</script>
