<template>
  <div>
    <form class="uk-search uk-search-navbar uk-width-1-1" @submit.prevent="$router.push({ name: 'search', params: { search: searchField } })">
      <input class="uk-search-input" type="search" v-model="searchField" :placeholder="$t('search.placeholder')" autofocus>
      <div v-if="countResults" class="uk-width-large uk-dropdown" uk-dropdown="mode: hover">
        <ul class="uk-nav uk-nav-default">
          <li v-for="item in searchResults" :key="item.id"><a @click="goToProduct(item)">{{item.title}}</a></li>
        </ul>
      </div>
    </form>
  </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
      data() {
        return {
          searchField: ''
        }
      },
      computed: {
        ...mapGetters({
          searchResults: 'products/searchResults',
          countResults: 'products/countResults'
        })
      },
      watch: {
        searchField: 'search'
      },
      methods: {
        goToProduct(item) {
          this.$router.push({ name: 'products-slug', params: { slug: item.slug }})
          this.$store.commit('products/RESET_RESULTS')
        },
        search() {
          this.$store.dispatch('products/search', { search: this.searchField })
        }
      }
    }
</script>
