<template>
    <ul class="app-shopping-cart-steps uk-list">
      <nuxt-link :class="{ 'uk-active': cart }" tag="li" :to="{ name: 'cart' }"><a><span>01</span>{{$t('cart.title')}}</a></nuxt-link>
      <nuxt-link :class="{ 'uk-active': wishlist }" tag="li" :to="{ name: 'wishlist' }"><a><span>02</span>{{$t('favorites.title')}}</a></nuxt-link>
      <nuxt-link :class="{ 'uk-active': checkout }" tag="li" :to="{ name: 'checkout' }"><a><span>03</span>{{$t('cart.checkout.title')}}</a></nuxt-link>
    </ul>
</template>

<script>
    export default {
      props: ['cart','wishlist', 'checkout']
    }
</script>
