<template>
 <div>
   <div class="app-shopping-cart uk-visible@m">
     <button type="button" class="uk-button uk-button-link">
       <div class="app-shopping-cart-icon" uk-icon="icon: cart"></div>
       <div class="app-shopping-cart-count uk-position-center">{{cartCount | padStart}}</div>
     </button>
     <div v-if="cartCount" uk-dropdown="mode: click; pos: bottom-right" class="uk-dropdown">
       <div class="app-shopping-cart-item">
         <table class="uk-table">
           <tbody>
           <shopping-cart-item v-for="item in details" :key="item.shop_product_id" :item="item"/>
           </tbody>
         </table>
       </div>
       <div class="app-shopping-cart-item uk-text-center">
         <div class="uk-h4 uk-margin-remove-bottom uk-text-uppercase">{{$t('cart.total')}}: <span class="uk-text-primary">{{totalAmount | currency}}</span></div>
       </div>
       <div class="app-shopping-cart-item uk-text-center">
         <div class="uk-h4 uk-margin-remove-bottom uk-text-uppercase"><nuxt-link :to="{ name: 'cart' }">{{$t('cart.title')}}</nuxt-link></div>
       </div>
       <div class="app-shopping-cart-item uk-text-center">
         <div class="uk-h4 uk-margin-remove-bottom uk-text-uppercase"><nuxt-link :to="{ name: 'checkout' }">{{$t('cart.checkout.title')}}</nuxt-link></div>
       </div>
     </div>
   </div>
   <div class="app-shopping-cart uk-hidden@m">
     <nuxt-link :to="{ name: 'cart' }" class="uk-button uk-button-link">
       <div class="app-shopping-cart-icon" uk-icon="icon: cart"></div>
       <div class="app-shopping-cart-count uk-position-center">{{cartCount | padStart}}</div>
     </nuxt-link>
   </div>
 </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import ShoppingCartItem from '@/components/ShoppingCartItem'

    export default {
      components: {
        ShoppingCartItem
      },
      filters: {
        padStart: value => String(value).padStart(2,0)
      },
      computed: {
        ...mapGetters({
          details: 'cart/details',
          totalAmount: 'cart/totalAmount',
          cartCount: 'cart/count'
        })
      }
    }
</script>
<style lang="scss">
  @import "../styles/variables";

  .app-shopping-cart {
    .uk-button-link {
      position: relative;
      color: $navbar-nav-item-color;
      &:hover, :focus {
        text-decoration: none;
        color: $navbar-nav-item-hover-color;
      }
    }
    &-count {
      top: -5px;
    }
  }
  .app-shopping-cart-item {
    padding: 18px 30px;
    & ~ .app-shopping-cart-item {
      border-top: 1px solid #eee;
    }
    & a {
      color: $global-color;
    }
  }

</style>
