<template>
  <tr v-if="item.product">
    <td>
      <div class="uk-inline uk-width-small">
        <div class="uk-position-bottom-right">
          <div class="app-cart-corner">
            <span :title="$t('cart.button.remove')" @click="removeFromCart(item.product)" uk-close></span>
          </div>
        </div>
        <img :src="item.product.image" :alt="item.product.title" width="100">
      </div>
    </td>
    <td uk-margin>
      <div class="uk-card-title">
        <nuxt-link class="uk-link-reset" :to="{ 'name': 'products-slug', params: { slug: item.product.slug }}">{{item.product.title}}</nuxt-link>
      </div>
      <div>
        <input type="number" class="uk-input" style="width: 50px;" :value="item.quantity" @input="updateQuantity(item.product, $event.target.value)">
      </div>
      <div class="app-card-price">{{item.product.product_price | currency}}</div>
    </td>
  </tr>
</template>

<script>
    import {mapMutations} from 'vuex'

    export default {
      props: {
        item: {
          required: true
        }
      },
      methods: {
        ...mapMutations({
          removeFromCart: 'cart/REMOVE',
        }),
        updateQuantity(product, value) {
          this.$store.commit('cart/UPDATE_QUANTITY', {product, value})
        }
      }
    }
</script>

<style lang="scss">
  @import "../styles/variables";
  .app-cart-corner {
    position: relative;
    overflow: hidden;
    width: 30px;
    height: 30px;
    text-align: center;
    z-index: 1;
    & span {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 5px;
      > svg {
        width: 10px;
        height: 10px;
      }
    }

    &:before {
      border-right: 30px solid $global-muted-background;
      border-top: 30px solid transparent;
      bottom: 0;
      content: "";
      position: absolute;
      right: 0;
      transition: all 0.3s ease 0s;
      z-index: -1;
    }
  }
</style>
