<template>
  <tr v-if="item.product">
    <td>
      <div class="uk-flex uk-flex-middle uk-height-xsmall">
        <div>
          <img :src="item.product.image" :alt="item.product.title" width="100">
        </div>
        <div>
          <nuxt-link :to="{ 'name': 'products-slug', params: { slug: item.product.slug }}"><h4>{{item.product.title}}</h4></nuxt-link>
        </div>
      </div>
    </td>
    <td>
      <div class="uk-flex uk-flex-middle uk-flex-center uk-height-xsmall uk-h4">{{item.product.product_price | currency}}</div>
    </td>
    <td>
      <div class="uk-flex uk-flex-middle uk-flex-center uk-height-xsmall">
        <input type="number" class="uk-input" style="width: 50px;" min="1" :value="item.quantity" @input="updateQuantity(item.product, $event.target.value)">
      </div>
    </td>
    <td>
      <div class="uk-flex uk-flex-middle uk-flex-center uk-height-xsmall">{{item.product.product_price * item.quantity | currency}}</div>
    </td>
    <td @click="removeFromCart(item.product)">
      <div class="uk-flex uk-flex-middle uk-flex-center uk-height-xsmall">
        <span :title="$t('cart.button.remove')" uk-close></span>
      </div>
    </td>
  </tr>
</template>

<script>
    import {mapMutations} from 'vuex'

    export default {
      props: {
        item: {
          required: true
        }
      },
      methods: {
        ...mapMutations({
          removeFromCart: 'cart/REMOVE',
        }),
        updateQuantity(product, value) {
          this.$store.commit('cart/UPDATE_QUANTITY', {product, value})
        }
      }
    }
</script>
