<template>
  <div>
    <ul class="uk-nav uk-subnav-pill">
      <nuxt-link tag="li" v-for="item in tags" :key="item.id" :to="{ name: 'tag', params: {tag: item.id}}">
        <a v-if="item.image"><img :src="item.image" height="30"></a>
        <a v-else>{{item.title}}</a>
      </nuxt-link>
    </ul>
  </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
      computed: {
        ...mapGetters({
          tags: 'database/tags'
        })
      }
    }
</script>
vue sort
