<template>
  <div v-if="item.subcategories">
    <div class="uk-card uk-card-default uk-card-hover">
      <div class="uk-card-body">
        <div class="uk-card-title">{{item.title}}</div>
        <div v-for="product in products"  :key="product.id">
          <nuxt-link :to="{ name: 'constructor-slug', params: { slug: product.slug } }">
            {{product.title}}
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  @import '../styles/variables';

  .uk-card-title {
    height: 40px;
  }
</style>

<script>
    export default {
      props: {
        item: {
          required: true
        }
      },
      computed: {
        products() {
          if(this.item.subcategories) {
            return this.$store.getters['products/items'].filter(item => {
              return this.item.subcategories.find(category => category.id === item.category.id)
            })
          }
        }
      }
    }
</script>
