<template>
  <tr v-if="item.product">
    <td>
      <div class="uk-flex uk-flex-middle">
        <div>
          <img :src="item.product.image" :alt="item.product.title" width="100">
        </div>
        <div>
          <nuxt-link :to="{ 'name': 'products-slug', params: { slug: item.product.slug }}"><h4>{{item.product.title}}</h4></nuxt-link>
        </div>
      </div>
    </td>
    <td>
      <div class="uk-flex uk-flex-middle uk-flex-center uk-height-xsmall uk-h4">{{item.product.product_price | currency}}</div>
    </td>
    <td>
      <div class="uk-flex uk-flex-middle uk-flex-center uk-height-xsmall">
        <button-add-to-card :product="item.product"/>
      </div>
    </td>
    <td @click="like(item.product)">
      <div class="uk-flex uk-flex-middle uk-flex-center uk-height-xsmall">
        <span :title="$t('withlist.button.remove')" uk-close></span>
      </div>
    </td>
  </tr>
</template>

<script>
    import {mapActions} from 'vuex'
    import ButtonAddToCard from '@/components/ButtonAddToCard'

    export default {
      components: {
        ButtonAddToCard
      },
      props: {
        item: {
          required: true
        }
      },
      methods: {
        ...mapActions({
          like: 'favorites/like',
        })
      }
    }
</script>
