<template>
  <div>
    <section class="uk-section">
      <div class="uk-container">
        <div class="uk-grid" uk-grid>
          <div class="uk-width-1-3@m">
            <div uk-slideshow="animation: fade; min-height: 350">
              <ul class="uk-slideshow-items">
                <li v-if="product.image">
                  <img :src="product.image" :alt="product.title" uk-cover>
                </li>
              </ul>
            </div>
          </div>
          <div class="uk-width-expand@m">
            <div class="uk-margin">
              <h2 class="uk-flex uk-flex-middle">
                <div class="uk-margin-small-right">{{product.title}}</div>
                <button-like :product="product"/>
              </h2>
              <h4>{{product.product_price | currency}}</h4>
            </div>
            <div class="uk-margin">
              <ul class="uk-tab" uk-tab>
                <li class="uk-active"><a href="#">{{$t('products.content')}}</a></li>
              </ul>
              <div>
                <div>{{product.content}}</div>
              </div>
            </div>
            <div class="uk-margin uk-grid uk-grid-small">
              <div>
                <button-add-to-card class="uk-button uk-button-primary" :product="product">
                  <span>{{$t('cart.button.add')}}</span>
                </button-add-to-card>
              </div>
              <div>
                <button-customize class="uk-button uk-button-primary" :product="product">
                  <span>{{$t('constructor.button.customize')}}</span>
                </button-customize>
              </div>
            </div>
            <div class="uk-margin">

              <no-ssr>
                <social-sharing url="https://topcase.space/"
                                title="Крутые чехлы на iPhone, Samsung, Xiaomi"
                                description=""
                                quote=""
                                hashtags="чехлы"
                                twitter-user="topcasespace"
                                inline-template>
                  <div>
                    <network network="email">
                      <div class="uk-icon-button" uk-icon="mail"></div>
                    </network>
                    <network network="facebook">
                      <div class="uk-icon-button" uk-icon="facebook"></div>
                    </network>
                    <network network="googleplus">
                      <div class="uk-icon-button" uk-icon="google-plus"></div>
                    </network>
                    <network network="telegram">
                      <div class="uk-icon-button" uk-icon="telegram"></div>
                    </network>
                    <network network="twitter">
                      <div class="uk-icon-button" uk-icon="twitter"></div>
                    </network>
                    <network network="vk">
                      <div class="uk-icon-button" uk-icon="vk"></div>
                    </network>
                    <network network="whatsapp">
                      <div class="uk-icon-button" uk-icon="whatsapp"></div>
                    </network>
                  </div>
                </social-sharing>
              </no-ssr>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="uk-section uk-section-muted">
      <div class="uk-container">
        <h3>{{$t('products.recently.title')}}</h3>
        <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid" uk-grid>
          <product-card v-for="item in viewedList" :key="item.shop_product_id" :product="item.product"/>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import ProductCard from '@/components/ProductCard'
  import ButtonAddToCard from '@/components/ButtonAddToCard'
  import ButtonLike from '@/components/ButtonLike'
  import ButtonCustomize from '@/components/ButtonCustomize'


  export default {
    head() {
      return {
        title: this.product.metatitle ? this.product.metatitle : this.product.title
      }
    },
    props: {
      slug: {
        required: true
      }
    },
    computed: {
      ...mapGetters({
        viewedList: 'views/items'
      })
    },
    components: {
      ProductCard, ButtonAddToCard, ButtonLike, ButtonCustomize
    },
    async asyncData({store, params, app, error}) {
      try {
        let {data} = await app.$axios.get('v1/shop/products/' + params.slug)
        store.dispatch('views/update', data)
        return { product: data }
      } catch (e) {
        error({ statusCode: 404, message: 'Page Not Found' })
      }
    }
  }
</script>
