<template>
  <div>
    <div>
      <div class="app-headerbar">
        <div class="uk-container uk-flex uk-flex-middle">
          <div>{{settings.contact.phone}}</div>
          <div class="uk-margin-auto-left">
            <ul class="uk-list">
              <nuxt-link tag="li" :to="{ name: 'favorites' }" title="Favorites"><a><span uk-icon="heart"></span></a></nuxt-link>
            </ul>
          </div>
        </div>
      </div>
      <navbar/>
      <div class="uk-container">
        <div class="uk-grid" uk-grid>
          <div class="uk-width-expand">
            <category-nav/>
          </div>
        </div>
      </div>
    </div>
    <nuxt/>
    <div>
      <navbar :show-left="false" :show-right="false"/>
      <footer class="app-footer uk-background-muted">
        <div class="uk-container">
          <div>Made with love by <a href="http://markdefroze.com/">Mark de Froze</a></div>
          <div class="app-footer-icons">
            <a v-if="settings.contact.facebook" :href="settings.contact.facebook"><span uk-icon="facebook"></span></a>
            <a v-if="settings.contact.youtube" :href="settings.contact.youtube"><span uk-icon="youtube"></span></a>
            <a v-if="settings.contact.twitter" :href="settings.contact.twitter"><span uk-icon="twitter"></span></a>
            <a v-if="settings.contact.instagram" :href="settings.contact.instagram"><span uk-icon="instagram"></span></a>
          </div>
          <div>{{settings.app.copyright}}</div>
        </div>
      </footer>
    </div>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex'
  import Navbar from '@/components/Navbar'
  import CategoryNav from '@/components/CategoryNav'

  export default {
    components: {
      CategoryNav, Navbar
    },
    computed: {
      ...mapState(['settings'])
    },
    methods: {
      ...mapActions({
        init: 'database/Init'
      }),
    },
    mounted() {
      this.init()
    }
  }
</script>

<style lang="scss">
  @import "../styles/app";

  .app-headerbar {
    background-color: $global-secondary-background;
    color: $global-muted-color;
    padding: 10px 0;
    & .uk-list {
      margin-bottom: 0;
    }
    & a {
      color: $global-muted-color;
    }
  }

  .app-footer {
    font-size: $global-small-font-size;
    padding: 10px 0;
    & > .uk-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-icons {
      & > a {
        color: #666;
        margin-right: 5px;
      }
    }
  }
</style>
