<template>
  <div uk-height-viewport="expand: true; min-height: 300">
    <section class="uk-section">
      <div class="uk-container">
        <h1>
          {{ error.statusCode }}
        </h1>
        <h2>
          {{ error.message }}
        </h2>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    props: ['error'],
  }
</script>

