<template>
  <section class="uk-section uk-section-muted">
    <div class="uk-container">
      <div uk-grid>
        <div class="uk-width-1-6@m">
          <shopping-cart-steps :cart="true"/>
        </div>
        <div class="uk-width-5-6@m">
          <div class="uk-overflow-auto">
          <table class="uk-table app-table">
            <thead>
              <tr>
                <th>{{$t('cart.table.product')}}</th>
                <th>{{$t('cart.table.price')}}</th>
                <th>{{$t('cart.table.quantity')}}</th>
                <th>{{$t('cart.table.total')}}</th>
                <th>{{$t('cart.table.remove')}}</th>
              </tr>
            </thead>
            <tbody>
              <shopping-cart-item v-for="item in details" :key="item.shop_product_id" :item="item"/>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import {mapGetters} from 'vuex'
  import ShoppingCartSteps from '@/components/ShoppingCartSteps'
  import ShoppingCartItem from '@/components/ShoppingCartItemTable'

  export default {
    head() {
      return {
        title: this.$t('cart.title')
      }
    },
    components: {
      ShoppingCartItem, ShoppingCartSteps
    },
    computed: {
      ...mapGetters({
        details: 'cart/details',
        totalAmount: 'cart/totalAmount',
        cartCount: 'cart/count'
      })
    },
  }
</script>
