<template>
  <section class="uk-section uk-section-muted">
    <div class="uk-container">
      <div uk-grid>
        <div class="uk-width-1-6@m">
          <shopping-cart-steps :cart="true" :wishlist="true" :checkout="true"/>
        </div>
        <div class="uk-width-expand@m">
          <form @submit.prevent="onSubmit">
            <div class="uk-card uk-card-default uk-card-body">
              <h2>{{$t('cart.checkout.information')}}</h2>
                <div class="uk-child-width-1-1 uk-grid uk-margin" uk-grid uk-margin>
                  <div>
                    <input :class="{'uk-form-danger': errors.has('from_name')}" @input="updateOrder('from_name', $event.target.value)" :value="order.from_name" v-validate="'required'" name="from_name" type="text" class="uk-input" :placeholder="$t('cart.checkout.form.fullName.placeholder')">
                    <span v-show="errors.has('from_name')" class="uk-text-danger">{{ errors.first('from_name') }}</span>
                  </div>
                  <div>
                    <input :class="{'uk-form-danger': errors.has('from_email')}" @input="updateOrder('from_email', $event.target.value)" :value="order.from_email" v-validate="'required|email'" name="from_email" type="text" class="uk-input" :placeholder="$t('cart.checkout.form.email.placeholder')">
                    <span v-show="errors.has('from_email')" class="uk-text-danger">{{ errors.first('from_email') }}</span>
                  </div>
                  <div>
                    <input :class="{'uk-form-danger': errors.has('from_phone')}" @input="updateOrder('from_phone', $event.target.value)" :value="order.from_phone" v-validate="'required'" name="from_phone" type="text" class="uk-input" :placeholder="$t('cart.checkout.form.phone.placeholder')">
                    <span v-show="errors.has('from_phone')" class="uk-text-danger">{{ errors.first('from_phone') }}</span>
                  </div>
                  <div>
                    <input :class="{'uk-form-danger': errors.has('delivery_address')}" @input="updateOrder('delivery_address', $event.target.value)" :value="order.delivery_address" v-validate="'required'" name="delivery_address" type="text" class="uk-input" :placeholder="$t('cart.checkout.form.address.placeholder')">
                    <span v-show="errors.has('delivery_address')" class="uk-text-danger">{{ errors.first('delivery_address') }}</span>
                  </div>
                  <div>
                    <input :class="{'uk-form-danger': errors.has('delivery_zipcode')}" @input="updateOrder('delivery_zipcode', $event.target.value)" :value="order.delivery_zipcode" v-validate="'required'" name="delivery_zipcode" type="text" class="uk-input" :placeholder="$t('cart.checkout.form.zipCode.placeholder')">
                    <span v-show="errors.has('delivery_zipcode')" class="uk-text-danger">{{ errors.first('delivery_zipcode') }}</span>
                  </div>
                  <div>
                    <input @input="updateOrder('note', $event.target.value)" :value="order.note" type="text" class="uk-input" :placeholder="$t('cart.checkout.form.notes.placeholder')">
                  </div>
                </div>
            </div>
          </form>
        </div>
        <div class="uk-width-expand@m">
          <div class="uk-card uk-card-default uk-card-body">
            <h2>{{$t('cart.checkout.order.title')}}</h2>
            <div class="uk-overflow-auto">
            <table class="uk-table uk-table-divider">
              <tbody>
                <tr v-for="item in details" :key="item.shop_product_id">
                  <td>{{item.product.title}}<span v-if="item.quantity > 1"> x {{item.quantity}}</span></td>
                  <td align="right" class="uk-text-bold">{{item.product.product_price * item.quantity | currency}}</td>
                </tr>
              </tbody>
              <tfoot>
              <tr class="uk-h5 uk-text-bold uk-text-primary">
                <td>{{$t('cart.total')}}</td>
                <td align="right">{{totalAmount | currency}}</td>
              </tr>
              </tfoot>
            </table>
            </div>
          </div>

          <div class="uk-margin uk-text-center uk-text-left@m">
            <button :disabled="isDisabled" @click="onSubmit" class="uk-button uk-button-primary uk-button-large" type="submit">{{$t('cart.checkout.form.button')}}</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import {mapState, mapGetters, mapActions} from 'vuex'
  import ShoppingCartItem from '@/components/ShoppingCartItemTable'
  import ShoppingCartSteps from '@/components/ShoppingCartSteps'

  export default {
    head() {
      return {
        title: this.$t('cart.title')
      }
    },
    components: {
      ShoppingCartItem, ShoppingCartSteps
    },
    computed: {
      isDisabled() {
        return this.errors.items.length > 0 || this.cartCount < 1
      },
      ...mapState({
        order: 'cart'
      }),
      ...mapGetters({
        details: 'cart/details',
        totalAmount: 'cart/totalAmount',
        cartCount: 'cart/count'
      })
    },
    methods: {
      updateOrder(key, value) {
        this.$store.commit('cart/UPDATE_ORDER', {key, value})
      },
      onSubmit() {
        if(!this.isDisabled) {
          this.$store.dispatch('cart/checkout')
        }
      }
    }
  }
</script>
