<template>
  <section class="uk-section uk-section-muted">
    <div class="uk-container">
      <article class="uk-article">
        <div v-html="page.content"></div>
      </article>

      <div class="uk-flex uk-flex-center">
        <div class="uk-card uk-card-default uk-card-body uk-width-2-3@m">
          <h2>{{page.title}}</h2>

          <div class="uk-grid" uk-grid>
            <div class="uk-width-1-2@m">
              <input class="uk-input" v-validate="'required'" v-model="form.from_name" name="from_name" type="text" :placeholder="$t('cart.checkout.form.fullName.placeholder')">
              <span v-show="errors.has('from_name')" class="uk-text-danger">{{ errors.first('from_name') }}</span>
            </div>
            <div class="uk-width-1-2@m">
              <input class="uk-input" v-validate="'required|email'" v-model="form.from_email" name="from_email" type="text" :placeholder="$t('cart.checkout.form.email.placeholder')">
              <span v-show="errors.has('from_email')" class="uk-text-danger">{{ errors.first('from_email') }}</span>
            </div>
            <div class="uk-width-1-1">
              <input class="uk-input" v-validate="'required'" v-model="form.subject" name="subject" type="text" :placeholder="$t('cart.checkout.form.phone.placeholder')">
              <span v-show="errors.has('subject')" class="uk-text-danger">{{ errors.first('subject') }}</span>
            </div>
            <div class="uk-width-1-1">
              <textarea class="uk-textarea" v-validate="'required'" v-model="form.message" name="message"></textarea>
              <span v-show="errors.has('message')" class="uk-text-danger">{{ errors.first('message') }}</span>
            </div>
          </div>
          <div class="uk-flex uk-margin-top">
            <button :disabled="isDisabled" class="uk-button uk-button-primary" @click="onSubmit">Отправить</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    import { mapActions } from 'vuex'
    export default {
      head() {
        return {
          title: this.page.metatitle || this.page.title,
          keywords: this.page.metakeywords
        }
      },
      data() {
        return {
          form: {
            from_name: '',
            from_email: '',
            subject: '',
            message: '',
          }
        }
      },
      computed: {
        isDisabled() {
          return this.errors.items.length > 0
        },
      },
      methods: {
        ...mapActions({
          sendMail: 'pages/sendMail'
        }),
        onSubmit() {
          if(!this.isDisabled) {
            this.sendMail({model: this.form})
          }
        }
      },
      async asyncData({ store, params, error }) {
        try {
          const page = await store.dispatch('pages/getOne', { slug: 'contact' } )

          return { page }
        } catch (e) {
          error({ statusCode: 404, message: 'Page Not Found' })
        }
      }
    }
</script>
