<template>
  <div>
    <section class="uk-section uk-section-muted" v-if="favoritesList.length">
      <div class="uk-container">
        <h3>{{$t('favorites.title')}}</h3>
        <div class="uk-grid uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid>
          <product-card v-for="item in favoritesList" :key="item.shop_product_id" :product="item.product"/>
        </div>
      </div>
    </section>
    <not-found v-else/>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import ProductCard from '@/components/ProductCard'
  import NotFound from '@/components/NotFound'

  export default {
    components: {
      ProductCard, NotFound
    },
    computed: {
      ...mapGetters({
        favoritesList: 'favorites/items'
      })
    }
  }
</script>
