<template>
  <div>
    <section v-if="settings.app.categoriesNav === '1'">
      <div class="uk-container uk-overflow-hidden">
        <div class="uk-position-relative uk-visible-toggle uk-light" uk-slider>
          <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-grid">
            <li v-for="item in categories" :key="item.id">
              <nuxt-link :to="{ name: 'catalog', params: {category: item.slug}}">
                <img :src="item.image" width="100%" alt="item.title">
                <div class="uk-position-bottom-right uk-margin-small-right"><h1>{{item.title}}</h1></div>
              </nuxt-link>
            </li>
          </ul>
          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
      </div>
    </section>

    <section class="uk-section uk-section-muted" v-if="orderedList.length">
      <div class="uk-container">

        <h3>{{settings.app.categoryIndexTitle}}</h3>
        <div class="uk-grid" uk-grid>
          <div class="uk-width-medium@s">
            <tags-nav/>
          </div>
          <div class="uk-width-expand@s">
            <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid" uk-grid>
              <product-card v-for="item in productList" :key="item.id" :product="item"/>
            </div>
          </div>
        </div>

        <h3>{{$t('products.ordered.title')}}</h3>
        <div class="uk-grid uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid>
          <product-card v-for="item in orderedList" :key="item.shop_product_id" :product="item.product"/>
        </div>

      </div>
    </section>

    <section class="uk-section" v-if="settings.app.promo">
      <div class="uk-container">
        <div class="uk-grid uk-grid-collapse" uk-grid uk-height-match>
          <div class="uk-width-expand@m">
            <img class="uk-height-1-1" src="https://devitems.com/html/subas-preview/subas/img/up-comming/2.jpg" alt="">
          </div>
          <div class="uk-width-expand@m uk-flex uk-flex-middle">
            <div class="uk-padding-small uk-background-muted uk-height-1-1">
              <h3 class="uk-margin-medium-top">{{settings.app.promoTitle}}</h3>
              <p>{{settings.app.promoContent}}</p>
              <div class="uk-grid-small uk-child-width-auto uk-text-muted uk-grid" uk-grid :uk-countdown="settings.app.promoDate">
                <div>
                  <div class="uk-countdown-number uk-countdown-days"></div>
                  <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>
                </div>
                <div class="uk-countdown-separator">:</div>
                <div>
                  <div class="uk-countdown-number uk-countdown-hours"></div>
                  <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>
                </div>
                <div class="uk-countdown-separator">:</div>
                <div>
                  <div class="uk-countdown-number uk-countdown-minutes"></div>
                  <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
                </div>
                <div class="uk-countdown-separator">:</div>
                <div>
                  <div class="uk-countdown-number uk-countdown-seconds"></div>
                  <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>
                </div>
              </div>
            </div>
          </div>
          <div class="uk-width-1-3@m">
            <div class="uk-background-cover uk-height-1-1 uk-padding" style="background-image: url('https://devitems.com/html/subas-preview/subas/img/product/8.jpg')">
              <h4>Product Name</h4>
              <ul class="uk-list">
                <li><span uk-icon="check"></span> Lorem ipsum dolor</li>
                <li><span uk-icon="check"></span> Lorem ipsum dolor</li>
                <li><span uk-icon="check"></span> Lorem ipsum dolor</li>
                <li><span uk-icon="check"></span> Lorem ipsum dolor</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="uk-section" v-if="latestPosts.length">
      <div class="uk-container uk-overflow-hidden">
        <h3>{{$t('blog.latest.title')}}</h3>
        <h6 class="uk-margin-remove-top">{{$t('blog.latest.subtitle')}}</h6>

        <div class="uk-position-relative uk-visible-toggle" uk-slider>
          <ul class="uk-slider-items uk-child-width-1-2@m uk-grid">
            <li v-for="post in latestPosts" :key="post.id">
              <div class="uk-grid">
                <div class="uk-width-medium@m uk-inline-clip uk-transition-toggle" tabindex="0">
                  <img class="uk-transition-scale-up uk-transition-opaque" src="https://devitems.com/html/subas-preview/subas/img/blog/4.jpg" alt="">
                  <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle"></div>
                </div>
                <div class="uk-width-expand@m uk-padding uk-text-center">
                  <h5>{{post.title}}</h5>
                  <p>{{post.tags}}</p>
                  <!--<div class="uk-flex uk-flex-center">-->
                    <!--<nuxt-link :to="{ name: 'index' }" class="uk-button uk-button-text">{{$t('blog.latest.more.button')}}</nuxt-link>-->
                  <!--</div>-->
                </div>
              </div>
            </li>
          </ul>
          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>

      </div>
    </section>
    <section class="uk-section uk-section-muted" v-if="viewedList.length">
      <div class="uk-container">
        <h3>{{$t('products.recently.title')}}</h3>
        <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid" uk-grid>
          <product-card v-for="item in viewedList" :key="item.shop_product_id" :product="item.product"/>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import {mapGetters, mapState} from 'vuex'
  import ProductCard from '@/components/ProductCard'
  import TagsNav from '@/components/TagsNav'

  export default {
    components: {
      ProductCard, TagsNav
    },
    computed: {
      ...mapState(['settings']),
      ...mapGetters({
        productList: 'products/items',
        categories: 'database/categories',
        orderedList: 'top/ordered',
        viewedList: 'views/items',
        latestPosts: 'blog/items',
      }),
    },
    async fetch({store}) {
      await store.dispatch('products/fetchAll', { category: store.state.settings.app.categoryIndex })

      await store.dispatch('top/fetchOrdered')
      await store.dispatch('blog/fetchPosts', { page: 1 })

      await store.dispatch('database/fetchCategories')
      await store.dispatch('database/fetchTags')
    }
  }
</script>
