<template>
  <section class="uk-section uk-section-muted">
    <div class="uk-container">
      <div uk-grid>
        <div class="uk-width-1-6@m">
          <shopping-cart-steps :cart="true" :wishlist="true"/>
        </div>
        <div class="uk-width-5-6@m">
          <div class="uk-overflow-auto">
          <table class="uk-table app-table">
            <thead>
            <tr>
              <th>{{$t('cart.table.product')}}</th>
              <th>{{$t('cart.table.price')}}</th>
              <th>{{$t('cart.button.add')}}</th>
              <th>{{$t('cart.table.remove')}}</th>
            </tr>
            </thead>
            <tbody>
              <wishlist-item v-for="item in favoritesList" :key="item.shop_product_id" :item="item"/>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
  import {mapGetters} from 'vuex'
  import WishlistItem from '@/components/WishlistItemTable'
  import ShoppingCartSteps from '@/components/ShoppingCartSteps'

  export default {
    head() {
      return {
        title: this.$t('cart.title')
      }
    },
    components: {
      WishlistItem, ShoppingCartSteps
    },
    computed: {
      ...mapGetters({
        favoritesList: 'favorites/items'
      })
    }
  }
</script>
