// 1. Your custom variables and variable overwrites.
@import "variables";

// 2. Import default variables and available mixins.
@import "~uikit/src/scss/variables.scss";
@import "~uikit/src/scss/mixins.scss";

// 3. Your custom mixin overwrites.
@import "mixins";

// 4. Import UIkit.
@import "~uikit/src/scss/uikit.scss";

.app-shopping-cart-steps li {
  display: block;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 100px;
  position: relative;
  text-align: center;

  &:not(.uk-active) {
    & a {
      color: $global-color;
    }
  }

  &:not(:last-child) {
    &:before {
      background: #ddd none repeat scroll 0 0;
      content: "";
      height: 40px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 130%;
      width: 2px;

      @media (max-width: $breakpoint-small) {
        height: 1px;
        top: 125%;
        width: 40%;
      }
    }
  }

  & a {
    border: 0;
    text-decoration: none;
  }
  & span {
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    margin: auto auto 20px;
    text-align: center;
    width: 50px;
  }
}

.app-table, .app-table td, .app-table th {
  border: 1px solid #eee;
  border-collapse: collapse;
  background-color: white;
}

.app-table {
  & th {
    text-align: center;
  }
}

.app-card-price {
  font-size: $global-medium-font-size;
}

.app-subnav-item-primary a {
  background-color: $global-primary-background !important;
  color: white !important;
}

.page {
  &-enter {
    opacity: 0;
    transform: translateY(50px);
  }

  &-enter-to {
    opacity: 1;
    transition: all 400ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  }
}

