@mixin hook-navbar-dropdown() {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease 0s;
}

@mixin hook-base-h3() {
  text-transform: uppercase;
  font-weight: 700;
}

@mixin hook-section-muted() {
  margin: 100px 0;
  position: relative;
  z-index: 1;

  &:before {
    display: block !important;
    background: $global-muted-background none repeat scroll 0 0;
    height: 100%;
    position: absolute;
    top: 0;
    transform: skewY(-1.7deg);
    width: 100%;
    z-index: -1;
  }
}

@mixin hook-card-default() {
  border-radius: 10px;
  & a > img {
    border-radius: 10px 10px 0 0;
  }
}

@mixin hook-card-body() {
  border-top: 2px solid $global-muted-background;
  border-bottom: 2px solid $global-muted-background;
}

@mixin hook-card-title() {
  text-transform: uppercase;
  font-weight: 700;
  &:hover {
    color: $global-primary-background;
  }
}

@mixin hook-drop-misc() {
  .uk-drop { width: 200px; }

  @media (min-width: $breakpoint-small) {
    .uk-drop { width: $drop-width; }
  }
}

@mixin hook-search-navbar-input() {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  padding: 0 10px;
  border-radius: 10px;
}

@mixin hook-dropdown() {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

@mixin button() {
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03) inset;
}

@mixin hook-button-default() {
  @include button();
}

@mixin hook-button-primary() {
  @include button();
}

@mixin hook-button-secondary() {
  @include button();
}

@mixin hook-button-danger() {
  @include button();
}
@mixin hook-tab-item() {
  text-transform: uppercase;
}

@mixin hook-tab-item-active() {
  border-bottom: 1px solid $global-primary-background;
}

@mixin hook-countdown() {
  font-family: Roboto, sans-serif;
}

@mixin hook-countdown-number() {
  position: relative;
  border-bottom: 1px solid $global-muted-color;

  &:before {
    background: $global-muted-background none repeat scroll 0 0;
    bottom: -3px;
    content: "";
    height: 5px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 2px;
  }
}

@mixin hook-countdown-label() {
  text-transform: uppercase;
}

@mixin hook-table-header-cell() {
  text-transform: uppercase;
}

.uk-height-xsmall {
  height: 100px;
}
