$global-font-family:                             'Raleway', sans-serif !default;
$global-font-size:                               14px !default;
$global-line-height:                             1.7 !default;

$global-xxlarge-font-size:                       2.625rem !default;
$global-xlarge-font-size:                        2rem !default;
$global-large-font-size:                         2.15rem !default;
$global-medium-font-size:                        1.4rem !default;
$global-small-font-size:                         0.875rem !default;

//
// Colors
//

$global-color:                                   #666 !default;
$global-emphasis-color:                          #333 !default;
$global-muted-color:                             #999 !default;

$global-link-color:                              #1e87f0 !default;
$global-link-hover-color:                        #0f6ecd !default;

$global-inverse-color:                           #fff !default;

//
// Backgrounds
//

$global-background:                              #fff !default;

$global-muted-background:                        #f6f6f6 !default;
$global-primary-background:                      #1e87f0 !default;
$global-secondary-background:                    #222 !default;

$global-success-background:                      #32d296 !default;
$global-warning-background:                      #faa05a !default;
$global-danger-background:                       #f0506e !default;

//
// Borders
//

$global-border-width:                            1px !default;
$global-border:                                  #e5e5e5 !default;

//
// Box-Shadows
//

$global-small-box-shadow:                        0 2px 8px rgba(0,0,0,0.08) !default;
$global-medium-box-shadow:                       0 5px 15px rgba(0,0,0,0.08) !default;
$global-large-box-shadow:                        0 14px 25px rgba(0,0,0,0.16) !default;
$global-xlarge-box-shadow:                       0 28px 50px rgba(0,0,0,0.16) !default;

//
// Spacings
//

// Used in margin, section, list
$global-margin:                                  20px !default;
$global-small-margin:                            10px !default;
$global-medium-margin:                           40px !default;
$global-large-margin:                            70px !default;
$global-xlarge-margin:                           140px !default;

// Used in grid, column, container, align, card, padding
$global-gutter:                                  30px !default;
$global-small-gutter:                            15px !default;
$global-medium-gutter:                           40px !default;
$global-large-gutter:                            70px !default;

//
// Controls
//

$global-control-height:                          40px !default;
$global-control-small-height:                    30px !default;
$global-control-large-height:                    55px !default;

//
// Z-index
//

$global-z-index:                                 1000 !default;


$base-h3-line-height:                            24px;

$navbar-nav-item-height:                         120px !default;
$navbar-nav-item-color:                          #303030 !default;
$navbar-nav-item-hover-color:                    $global-color !default;
$navbar-background:                              $global-background !default;
$navbar-dropdown-background:                     $global-background !default;

$section-muted-background:                       none;

$card-default-background:                        #fff;
$card-default-hover-background:                  $card-default-background;

$card-body-padding-horizontal:                  20px !default;
$card-body-padding-vertical:                    10px !default;

$card-body-padding-horizontal-l:                30px !default;
$card-body-padding-vertical-l:                  15px !default;

$card-header-padding-horizontal:                $global-gutter !default;
$card-header-padding-vertical:                  round($global-gutter / 2) !default;

$card-header-padding-horizontal-l:              $global-medium-gutter !default;
$card-header-padding-vertical-l:                round($global-medium-gutter / 2) !default;

$card-footer-padding-horizontal:                20px !default;
$card-footer-padding-vertical:                  5px  !default;

$card-footer-padding-horizontal-l:              30px !default;
$card-footer-padding-vertical-l:                10px !default;

$card-title-font-size:                          1.1rem !default;
$card-title-line-height:                        1.1 !default;

$text-meta-color:                               #666666;
$search-navbar-height:                          60px;
$search-navbar-background:                      $global-background;
$search-navbar-font-size:                       $global-small-font-size;
$search-navbar-width:                           200px;
$search-navbar-width-m:                         400px;
$dropdown-background:                           $global-background;
$button-primary-background:                     #575757;


$countdown-item-line-height:                     70px !default;

$countdown-number-font-size:                     2rem !default;
$countdown-number-font-size-s:                   2rem !default;
$countdown-number-font-size-m:                   3rem !default;

$countdown-separator-font-size:                  1.5rem !default;
$countdown-separator-font-size-s:                2rem !default;
$countdown-separator-font-size-m:                2rem !default;
$table-header-cell-font-weight:                  600;
