<template>
  <div>
    <section class="uk-section uk-section-muted" v-if="count">
      <div class="uk-container">
        <div class="uk-grid uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid>
          <product-card v-for="item in productList" :key="item.id" :product="item"/>
        </div>
        <div class="uk-margin">
          <ul class="uk-pagination">
            <li v-if="hasPrev">
              <nuxt-link :to="{ name: 'tag-page', params: { tag: tag, page: prevPage }}"><span class="uk-margin-small-right" uk-pagination-previous></span> {{$t('previous')}}</nuxt-link>
            </li>
            <li v-if="hasNext" class="uk-margin-auto-left">
              <nuxt-link :to="{ name: 'tag-page', params: { tag: tag, page: nextPage }}">{{$t('next')}} <span class="uk-margin-small-left" uk-pagination-next></span></nuxt-link>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <not-found v-else/>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import ProductCard from '@/components/ProductCard'
  import NotFound from '@/components/NotFound'

  export default {
    props: {
      tag: {
        type: String | Number,
        required: true,
      },
      page: {
        type: String | Number,
        default: 1,
      }
    },
    components: {
      ProductCard, NotFound
    },
    computed: {
      ...mapGetters({
        hasNext: 'products/hasNext',
        hasPrev: 'products/hasPrev',
        nextPage: 'products/nextPage',
        prevPage: 'products/prevPage',
        productList: 'products/items',
        count: 'products/count',
      })
    },
    async fetch({ store, app, params }) {
      await store.dispatch('products/fetchAll', { tag: params.tag, page: params.page })
    }
  }
</script>
